.login {
  width: 100%;
  height: 100vh;
  background-color: rgb(59, 59, 226);
  /* padding: 0.5rem 0 0 0; */
}

.login .container {
  padding: 4rem 0;
}

.login .content {
  background-color: white;
  max-width: 350px;
  margin: 0 auto;
  padding: 2rem 5rem;
  border-radius: 15px;
}

.login .header {
  font-size: 1.7rem;
  font-weight: bolder;
}

.login .sub_header {
  font-size: 1.25rem;
}

.login .head {
  font-size: 1.4rem;
  font-weight: bold;
}

.login input {
  border: none;
  border-bottom: 2px solid rgb(183, 209, 233);
  background-color: transparent;
  outline: none;
  font-size: 1.05rem;
}

.login label {
  margin-left: 0.8rem;
}

.login .email,
.login .password {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.login form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login button {
  font-size: 1.05rem;
  padding: 0.7rem 0;
  font-weight: bold;
  border: none;
  background-color: rgb(59, 59, 226);
  color: white;
  cursor: pointer;
}

.login p {
  text-align: center;
}

.login .register {
  color: rgb(59, 59, 226);
  font-weight: bold;
  letter-spacing: 2.5px;
  cursor: pointer;
}
